// font vars
$font-family-default: 'Barlow', Helvetica, sans-serif;
$font-weight-light: 300;
$font-weight-default: 400;
$font-weight-heavy: 700;
$font-height: 1.5rem;

// color vars
$color-body: #40454B;
$color-blue-default: #1185BE;
$color-blue-light: #D8EAF2;
$color-blue-lighten: #EBF2F5;
$color-blue-borders: #9FD8F3;
$color-blue-dark: #003853;
$color-orange: #E58638;
$color-green: #82B378;

// margin & padding
$padding-default: 20px;
$padding-half: 10px;
$padding-section: 60px;
$padding-section-half: 30px;

// borders
$border-default: solid 1px $color-blue-borders;
$border-radius: 5px;